<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>A&B - Login</title>
<link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,600;0,800;1,100;1,300;1,600&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/resetStyle.css') }}" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/loginStyle.css') }}" rel="stylesheet">