<header>
    <nav>
        <!-- Title -->
        <h1 id="title">
            <a href="{{ url_for('dashboard') }}">A&B Web Apps</a>
        </h1>

        <!-- Mobile Burger -->
        <div id="burger">
            <div id="burger-1"></div>
            <div id="burger-2"></div>
            <div id="burger-3"></div>
        </div>

        <!-- Nav Links -->
        <ul id="nav-links" class="noselect">
            <li><a href="{{ url_for('calculator') }}">Calculator</a></li>
        </ul>
    </nav>
</header>