{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/formStyle.css') }}">
{% endblock %}

{% block body %}
<div class="form-body">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <!-- Error/ Success -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="submit-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Customer Section -->
            <div class="form-group">
                {{ form.f_name.label(class="form-label") }}
                {% if form.f_name.errors %}
                    {{ form.f_name(class="form-control-field danger") }}
                    <small class="error-message">Customer may already exist!</small>
                {% else %}
                    {{ form.f_name(class="form-control-field") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.m_name.label(class="form-label") }}
                {{ form.m_name(class="form-control-field") }}
            </div>

            <div class="form-group">
                {{ form.l_name.label(class="form-label") }}
                {{ form.l_name(class="form-control-field") }}
            </div>

            <div class="form-group">
                {{ form.phone_0.label(class="form-label") }}
                {% if form.phone_0.errors %}
                    {{ form.phone_0(class="form-control-field danger") }}
                    <small class="error-message">Enter valid phone number: XXX-XXX-XXXX</small>
                {% else %}
                    {{ form.phone_0(class="form-control-field") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.phone_1.label(class="form-label") }}
                {% if form.phone_1.errors %}
                    {{ form.phone_1(class="form-control-field danger") }}
                    <small class="error-message">Enter valid phone number</small>
                {% else %}
                    {{ form.phone_1(class="form-control-field") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.address.label(class="form-label") }}
                {{ form.address(class="form-control-field") }}
            </div>

            <div class="form-group">
                {{ form.city.label(class="form-label") }}
                {{ form.city(class="form-control-field") }}
            </div>

            <div class="form-group">
                {{ form.state.label(class="form-label") }}
                {{ form.state(class="form-selection-field") }}
            </div>
            
            <div class="form-group">
                {{ form.zip_code.label(class="form-label") }}
                {% if form.zip_code.errors %}
                        {{ form.zip_code(class="form-control-field danger", type="number") }}
                        <small class="error-message">Enter numeric value: 0 - 100000</small>
                {% else %}
                    {{ form.zip_code(class="form-control-field", type="number") }}
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-label") }}
                {% if form.email.errors %}
                        {{ form.email(class="form-control-field danger") }}
                        <small class="error-message">Enter Email</small>
                {% else %}
                    {{ form.email(class="form-control-field") }}
                {% endif %}
            </div>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="submit-button")}}
            </div> 

        </form>
    </div>
</div>

<!-- <script type='text/javascript' src="{{ url_for('static', filename='job.js') }}"></script> -->
{% endblock %}