{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/formStyle.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block body %}
<div class="form-body">
    <div class="container">
        <h1 class="title">{{ title }}</h1>
        <form method="POST" action="">
            {{ form.hidden_tag() }}

            <!-- Error/ Success -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="submit-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            <!-- Customer Section -->

            <div class="form-group" style="display: none;">
                {{ form.customer_id(class="form-control-field", id="customer-id") }}
            </div>

            <div class="form-group">
                {{ form.customer_name.label(class="form-label") }}
                {% if form.customer_name.errors %}
                    {{ form.customer_name(class="form-control-field danger", id="customer-name", disabled=True) }}
                    <small class="error-message">Customer Error</small>
                {% else %}
                    {{ form.customer_name(class="form-control-field", id="customer-name", disabled=True) }}
                {% endif %}
            </div>

            <div class="info-group">
                <a href="{{ url_for('new_customer') }}">+Create Customer</a>
            </div>

            <div class="form-group">
                {{ form.customer_search.label(class="form-label") }}
                {{ form.customer_search(class="form-control-field", id="customer-search") }}
            </div>

            <!-- Customer Search Result Container -->
            <div class="search-container" id="search-results" style="display: none;"></div>

            <!-- Contract Type -->
            <div class="form-group">
                {{ form.contract_type.label(class="form-label") }}
                {{ form.contract_type(class="form-selection-field") }}
            </div>

            <!-- Customer Location -->
            <div class="form-group">
                {{ form.address.label(class="form-label") }}
                {{ form.address(class="form-control-field") }}
            </div>
            <div class="form-group">
                {{ form.city.label(class="form-label") }}
                {{ form.city(class="form-control-field") }}
            </div>
            <div class="form-group">
                {{ form.zip_code.label(class="form-label") }}
                {% if form.zip_code.errors %}
                        {{ form.zip_code(class="form-control-field danger", type="number") }}
                        <small class="error-message">Enter numeric value: 0 - 100000</small>
                {% else %}
                    {{ form.zip_code(class="form-control-field", type="number") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.state.label(class="form-label") }}
                {{ form.state(class="form-selection-field") }}
            </div>

            <!-- Work Extender Option -->
            <div class="form-group">
                {{ form.work_option.label(class="form-label") }}
                {{ form.work_option(class="form-selection-field", id="work-option") }}
            </div>

            <hr>

            <!-- Work Location Section -->
            <div class="form-container" id="work-section">
                <div class="form-group">
                    {{ form.work_address.label(class="form-label") }}
                    {{ form.work_address(class="form-control-field") }}
                </div>
                <div class="form-group">
                    {{ form.work_city.label(class="form-label") }}
                    {{ form.work_city(class="form-control-field") }}
                </div>
                <div class="form-group">
                    {{ form.work_state.label(class="form-label") }}
                    {{ form.work_state(class="form-selection-field") }}
                </div>
                <div class="form-group">
                    {{ form.work_architect.label(class="form-label") }}
                    {{ form.work_architect(class="form-control-field") }}
                </div>
            </div>

            <hr>

            <!-- Amount -->
            <div class="form-group">
                {{ form.amount.label(class="form-label") }}
                {% if form.amount.errors %}
                        {{ form.amount(class="form-control-field danger", type="number") }}
                        <small class="error-message">Enter numeric value: 0 - 100000</small>
                {% else %}
                    {{ form.amount(class="form-control-field", type="number") }}
                {% endif %}
            </div>

            <!-- Description -->
            <div class="form-group">
                {{ form.description.label(class="form-label") }}
                {% if form.description.errors %}
                        {{ form.description(class="form-box-field danger") }}
                        <small class="error-message">Enter job description</small>
                {% else %}
                    {{ form.description(class="form-box-field") }}
                {% endif %}
            </div>

            <!-- Warranty -->
            <div class="form-group">
                {{ form.warranty.label(class="form-label") }}
                {% if form.warranty.errors %}
                        {{ form.warranty(class="form-control-field danger", type="number") }}
                        <small class="error-message">Enter numeric value: 0.0 - 25.0</small>
                {% else %}
                    {{ form.warranty(class="form-control-field", type="number") }}
                {% endif %}
            </div>

            <!-- Specify time -->
            <div class="form-group">
                {{ form.time_type.label(class="form-label") }}
                {{ form.time_type(class="form-selection-field", id="time-option") }}
            </div>

            <!-- Job Duration -->
            <div class="form-group" id="duration">
                {{ form.duration.label(class="form-label") }}
                {% if form.duration.errors %}
                        {{ form.duration(class="form-control-field danger", type="number", min="0") }}
                        <small class="error-message">Enter numeric value: 0.0 - 500</small>
                {% else %}
                    {{ form.duration(class="form-control-field", type="number", min="0") }}
                {% endif %}
            </div>
            
            <!-- Start/ Completion Date -->
            <div id="start-complete">
                <div class="form-group">
                    {{ form.start_date.label(class="form-label") }}
                    {% if form.start_date.errors %}
                            {{ form.start_date(class="form-control-field danger", type="date") }}
                            <small class="error-message">Enter valid date format</small>
                    {% else %}
                        {{ form.start_date(class="form-control-field", type="date") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.completion_date.label(class="form-label") }}
                    {% if form.completion_date.errors %}
                            {{ form.completion_date(class="form-control-field danger", type="date") }}
                            <small class="error-message">Enter valid date format. Completion date must come after start date.</small>
                    {% else %}
                        {{ form.completion_date(class="form-control-field", type="date") }}
                    {% endif %}
                </div>
            </div>

            <!-- Submit -->
            <div class="form-group">
                {{ form.submit(class="submit-button")}}
            </div> 

        </form>
    </div>
</div>

<script type='text/javascript' src="{{ url_for('static', filename='job.js') }}"></script>
{% endblock %}