/* GENERAL */
* {
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --ab_blue: rgb(39, 59, 145);
    --ab_grey: rgb(211, 211, 211);
    --ab_green: rgb(109, 193, 115);
    --ab_red: rgb(193, 109, 109);
    --dark: rgb(20, 20, 20);
    --drop: rgba(0, 0, 0, 0.8);
    --light: rgb(250, 250, 250);
    --highlight: rgb(164, 181, 207);
}
::-webkit-scrollbar { 
    display: none;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }

/* Navigation */
header {
    position: fixed;
    z-index: 5;
    width: 100vw;
    height: 60px;
    background-color: var(--ab_blue, lightblue);
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
#burger {
    display: none;
}
#title {
    position: relative;
    margin: 0px 20px;
}
#title a {
    color: var(--light, white);
    padding: 10px 20px;
}
#nav-links {
    list-style: none;
    margin: 0px 20px;
}
#nav-links li {
    font-size: 13px;
    display: inline-block;
    text-align: center;
}
#nav-links li a {
    padding: 10px 20px;
    color: var(--light, white);
}

.container {
    position: relative;
    top: 60px;
}

/* Mobile */
@media screen and (max-width: 500px){
    #title {
        margin: 0px auto;
    }
    #burger {
        display: block;
        position: absolute;
        right: 10px;
        margin: 0;
        padding: 15px;
        cursor: pointer;
    }
    #burger div {
        width: 25px;
        height: 2px;
        margin: 3px 0px;
        background-color: var(--light, white);
    }
    #nav-links {
        display: none;
        position: absolute;
        right: 0;
        top: 60px;
        margin: 0;
        padding: 10px 20px;
        background-color: var(--ab_grey, grey);
    }
    #nav-links li {
        display: block;
        padding: 20px;
        text-align: center;
    }
    #nav-links li a {
        color: var(--dark, black);
    }
}